@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.card-case {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(82, 63, 105, 0.05);
}

.card-case.card-total-solved-case {
  background: #21b731;
}

.card-case.card-total-unsolved-case {
  background: #ff2625;
}

.card-case img {
  width: 56px;
  height: 56px;
}

.card-case .content-case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.card-case .content-case .title-card-data-case {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-top: 32px;
}

.card-case .content-case .desc-card-data-case {
  color: #fff;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
}

.card-error-today {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 20px;
  background: #fff;

  /* shadow-card */
  box-shadow: 0px 4px 4px 0px rgba(82, 63, 105, 0.05);
}

.content-error-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

.content-error-today .title-no-mo {
  color: #7860d8;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.content-error-today .title-cr-drop {
  color: #ff9a03;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.content-error-today .title-cap-reached {
  color: #fe4949;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.content-error-today .title-ratio-alert {
  color: #529f68;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.content-error-today .value-error-today {
  color: #000;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
}

.card-case-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}
/**
.status_error_report {
  padding: 10px;
  font-size: 16px;
}

.bootstrap-select.unsolved-bg,
.bootstrap-select.solve-bg {
  border-radius: 100px;
  border: none !important;
}

.bootstrap-select.unsolved-bg .btn,
.bootstrap-select.solve-bg .btn {
  color: #fff !important;
}

.solve-bg {
  background-color: #3cc249 !important;
  color: white !important;
}

.unsolved-bg {
  background-color: #ff0000 !important;
  color: white !important;
}
**/

.dataTables_paginate.paging_simple_numbers {
  display: block !important;
  position: fixed;
  right: 0;
}

.table-responsive {
  overflow-x: scroll !important;
}

.tabulator {
  border: none !important;
}

.tabulator .tabulator-header .tabulator-col {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  background-color: white !important;
  border-right: none !important;
  padding: 8px !important;
  height: fit-content !important;
}

.tabulator-row .tabulator-cell {
  border-right: none !important;
  padding: 8px !important;
  height: fit-content !important;
}

.btn-action {
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-action:hover {
  color: #00838f;
}

.btn-filter {
  color: #fff;
  padding: 8px 12px 8px 8px;
  border-radius: 8px 0 0 8px;
  line-height: 0;
  font-size: 24px;
  position: fixed;
  top: 50%;
  right: 0;
  box-shadow: -4px 3px 4px 0px rgba(119, 119, 119, 0.14);
}

.modal-dialog {
  margin-right: 40px !important;
  margin-top: 30px !important;
}

.nav-header .brand-logo {
  justify-content: center;
}

.nav-header .brand-logo .logo-section {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  background: #fff;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
}

.title-detail-section {
  display: flex;
  flex-direction: column;
}
/* .display.dataTable.no-footer {
  width: 100vh;
  overflow-x: hidden;
} */
